html {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
}

.full-viewport {
  height: 100vh;
}

#header {
  display: flex;
  height: 5%;
}

#header .brand {
  padding: 2rem;
  flex: 1;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

#header .brand .name span {
  font-weight: 200;
}

#header .options {
  flex: 1;
}

#main {
  height: 95%;
}

.container {
  display: flex;
  height: 100%;
}

.container > .content {
  flex: 1;
  display: flex;
  align-items: center;
}

.container > .right-section {
  flex: 1;
  position: relative;
}
.container > .right-section > .image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.container > .right-section > .image > img {
  width: 100%;
}

.content .info {
  margin: 1rem auto;
}

.content h1 {
  z-index: 2;
  font-size: 5rem;
}

.content .subtitle {
  font-size: 3rem;
  font-weight: 300;
}

.content .title {
  position: relative;
}

.content .yellow-box {
  z-index: -1;
  position: absolute;
  width: 10rem;
  height: 100%;
  background-color: #ffda8e;
}

.content .button-section {
  margin-top: 2rem;
}

.button {
  display: inline-block;
  border-bottom: #ffda8e 5px solid;
  font-size: 2rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .container > .right-section {
    display: none;
  }
}
